{% extends "base.html" %}

{% block title %}
Home
{% endblock %}


{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="background-image: url('https://res.cloudinary.com/dzzjp6xlv/image/upload/o_100/v1628174856/wallpaperflare.com_wallpaper_ry8ypi.png');">
        <h1 class="text-left-right font-weight-normal">
            <span class="left-text">Welcome To</span>
        </h1>
        <h2 font="Arial" class="display-4 font-weight-bold">Wayne Enterprises</h2>
        <br>
          <a class="btn btn-primary" href="{{ url_for('market_page') }}">Get Started</a>
        <div class="product-device box-shadow d-none d-md-block">
              
    </div>
    </div>
    </div>
    </div>
{% endblock %}



